@import "../../style-config/variable.scss";
@import "../../style-config/mixins.scss";

.skills-content-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include small-screen{
        flex-direction: row;
    }
    .left-col{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include small-screen{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .left-section{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 15px;
            color: $white;
            
            @include small-screen{
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 20px;
                color: $white;
            }
            .inside{
                width: 92%;
                height: 100%;
                margin: 2px 7px;
                @include small-screen{
                    width: 80%;

                }
                img{
                    width: 100%;
                    padding: 5px 0px;
                    border-radius: 10px;

                }
                p{
                    text-align: center;

                }
            }
        }

    }
    .right-col{
        margin-top: 95px;
        width: 90%;
        color: $white;
        margin-left: 10px;
        @include small-screen{
            width: 60%;
            margin-left: 70px;
        }
        h2{
            margin-bottom: 30px;
        }
        p{
            @include typography(16px,400,24px);
            margin-bottom: 25px;
            @include small-screen{
                @include typography(18px,400,24px);
                margin-bottom: 15px;
            }
        }
    }
}